PAYLOAD_SECRET=change-me
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/NicElectrikPayload?retryWrites=true&w=majority
NEXT_PUBLIC_SERVER_URL=https://staging.nikelectric.eu
PAYLOAD_PUBLIC_SERVER_URL=https://staging.nikelectric.eu
PREVIEW_SECRET=change-me
MICROINVEST_WEBHOOK_SECRET=change-me

